@import 'variables.css';
@import 'normalise.css';

* {
    box-sizing: border-box;
}

html,
body {
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    color: var(--color-black);
}

body :global(#root) {
    transition: filter 0.2s ease;
}

body:global(.modal) :global(#root) {
    filter: blur(2px);
}
