.Container {
    display: flex;
    flex-direction: column;
}

.Image {
    width: 150px;
    height: 150px;
    margin: 0 var(--space-xxxl);
    object-fit: cover;
    margin-bottom: var(--space-l);
}

.ButtonContainer {
    display: flex;
    justify-content: space-between;
}

.Button {
    flex-basis: 30%;
    flex-grow: 1;
    flex-shrink: 0;
}

.Button:first-child {
    margin-right: var(--space-s);
}

.Button:last-child {
    margin-left: var(--space-s);
}

.Input {
    margin-bottom: var(--space-l);
}

.BlockScreen {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1001;
}
